In [1]:
import sqlite3
conn = sqlite3.connect("billing_system.db")
cur = conn.cursor()
cur.execute('''CREATE TABLE IF NOT EXISTS products (
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    name TEXT NOT NULL,
    price REAL NOT NULL
)''')
cur.execute('''CREATE TABLE IF NOT EXISTS bills (
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    product_name TEXT NOT NULL,
    quantity INTEGER NOT NULL,
    price REAL NOT NULL,
    total REAL NOT NULL
)''')
conn.commit()
conn.close()
print("Database & tables created!")

Database & tables created!

In [2]:
def add_product(name, price):
    conn = sqlite3.connect("billing_system.db")
    cur = conn.cursor()
    cur.execute("INSERT INTO products (name, price) VALUES (?, ?)", (name, price))
    conn.commit()
    conn.close()
    print(f"Product '{name}' added!")
add_product("Pen", 10)
add_product("Notebook", 50)

Product 'Pen' added!
Product 'Notebook' added!

In [6]:
def show_products():
    conn = sqlite3.connect("billing_system.db")
    cur = conn.cursor()
    cur.execute("SELECT * FROM products")
    rows = cur.fetchall()
    conn.close()
    print("\nAvailable Products:")
    for row in rows:
        print(f"ID: {row[0]} | Name: {row[1]} | Price: ₹{row[2]}")
show_products()

Available Products:
ID: 1 | Name: Pen | Price: ₹10.0
ID: 2 | Name: Notebook | Price: ₹50.0

In [7]:
def create_bill(product_id, quantity):
    conn = sqlite3.connect("billing_system.db")
    cur = conn.cursor()

    cur.execute("SELECT name, price FROM products WHERE id = ?", (product_id,))
    product = cur.fetchone()
    
    if product:
        name, price = product
        total = price * quantity
        cur.execute("INSERT INTO bills (product_name, quantity, price, total) VALUES (?, ?, ?, ?)",
                    (name, quantity, price, total))
        conn.commit()
        print(f"Added to bill: {name} x {quantity} = ₹{total}")
    else:
        print("Product not found.")
    conn.close()

In [8]:
show_products()
create_bill(1, 2)
create_bill(2, 1)  
show_bill()

Available Products:
ID: 1 | Name: Pen | Price: ₹10.0
ID: 2 | Name: Notebook | Price: ₹50.0
Added to bill: Pen x 2 = ₹20.0
Added to bill: Notebook x 1 = ₹50.0

--- Final Bill ---
Pen x 2 = ₹20.0
Notebook x 1 = ₹50.0

TOTAL AMOUNT: ₹70.0